HELP.md
target/
/capi-stubs/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
capi-stubs/target/capi-stubs-0.0.1-SNAPSHOT-stubs.jar
capi-stubs/target/capi-stubs-0.0.1-SNAPSHOT-stubs.jar
capi-stubs/target/capi-stubs-0.0.1-SNAPSHOT.jar
capi-stubs/target/stubs/META-INF/io.pivotal.pa.phoenix/capi-stubs/0.0.1-SNAPSHOT/contracts/serviceInstanceFirstPage.groovy
capi-stubs/target/stubs/META-INF/io.pivotal.pa.phoenix/capi-stubs/0.0.1-SNAPSHOT/contracts/serviceInstanceSecondPage.groovy
capi-stubs/target/stubs/META-INF/io.pivotal.pa.phoenix/capi-stubs/0.0.1-SNAPSHOT/mappings/processesFirstPage.json
capi-stubs/target/stubs/META-INF/io.pivotal.pa.phoenix/capi-stubs/0.0.1-SNAPSHOT/mappings/processesSecondPage.json
capi-stubs/target/stubs/META-INF/io.pivotal.pa.phoenix/capi-stubs/0.0.1-SNAPSHOT/mappings/serviceInstanceFirstPage.json
capi-stubs/target/stubs/META-INF/io.pivotal.pa.phoenix/capi-stubs/0.0.1-SNAPSHOT/mappings/serviceInstanceSecondPage.json
capi-stubs/target/stubs/META-INF/io.pivotal.pa.phoenix/capi-stubs/0.0.1-SNAPSHOT/mappings/uaaOAuthToken.json
